<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Roman-Accent-A</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>A À Á Â Ä Æ Ã Å Ā Ǣ</string>
		<key>Strings</key>
		<string>A À Á Â Ä Æ Ã Å Ā Ǣ</string>
	</dict>
	<key>Roman-Accent-C</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>C Ç Ć Č</string>
		<key>Strings</key>
		<string>C Ç Ć Č</string>
	</dict>
	<key>Roman-Accent-D</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>D Ḍ Ḏ Đ Ḑ</string>
		<key>Strings</key>
		<string>D Ḍ Ḏ Đ Ḑ</string>
	</dict>
	<key>Roman-Accent-E</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>E È É Ê Ë Ē Ė Ę</string>
		<key>Strings</key>
		<string>E È É Ê Ë Ē Ė Ę</string>
	</dict>
	<key>Roman-Accent-G</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>G Ġ</string>
		<key>Strings</key>
		<string>G Ġ</string>
	</dict>
	<key>Roman-Accent-H</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>H Ḥ H̱ Ḫ</string>
		<key>Strings</key>
		<string>H Ḥ H̱ Ḫ</string>
	</dict>
	<key>Roman-Accent-I</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>I Î Ï Í Ī Į Ì</string>
		<key>Strings</key>
		<string>I Î Ï Í Ī Į Ì</string>
	</dict>
	<key>Roman-Accent-K</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>K Ḵ</string>
		<key>Strings</key>
		<string>K Ḵ</string>
	</dict>
	<key>Roman-Accent-L</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>L Ł Ḷ Ḹ L̥ L̥̄ Ḻ</string>
		<key>Strings</key>
		<string>L Ł Ḷ Ḹ L̥ L̥̄ Ḻ</string>
	</dict>
	<key>Roman-Accent-M</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>M Ṃ M̊ M̐ M̆</string>
		<key>Strings</key>
		<string>M Ṃ M̊ M̐ M̆</string>
	</dict>
	<key>Roman-Accent-N</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>N Ñ Ń Ṅ Ṇ Ṉ N̆</string>
		<key>Strings</key>
		<string>N Ñ Ń Ṅ Ṇ Ṉ N̆</string>
	</dict>
	<key>Roman-Accent-O</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>O Ô Ö Ò Ó Œ Ø Ō Õ</string>
		<key>Strings</key>
		<string>O Ô Ö Ò Ó Œ Ø Ō Õ</string>
	</dict>
	<key>Roman-Accent-R</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>R Ṛ Ṝ R̥ R̥̄ Ṟ R̆</string>
		<key>Strings</key>
		<string>R Ṛ Ṝ R̥ R̥̄ Ṟ R̆</string>
	</dict>
	<key>Roman-Accent-S</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>S Ś Š Ṣ Ş</string>
		<key>Strings</key>
		<string>S Ś Š Ṣ Ş</string>
	</dict>
	<key>Roman-Accent-T</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>T Ṭ Ṯ Ţ</string>
		<key>Strings</key>
		<string>T Ṭ Ṯ Ţ</string>
	</dict>
	<key>Roman-Accent-U</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>U Û Ü Ù Ú Ū Ŭ</string>
		<key>Strings</key>
		<string>U Û Ü Ù Ú Ū Ŭ</string>
	</dict>
	<key>Roman-Accent-Y</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>Y Ÿ Ẏ</string>
		<key>Strings</key>
		<string>Y Ÿ Ẏ</string>
	</dict>
	<key>Roman-Accent-Z</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>Z Ž Ź Ż Ẓ</string>
		<key>Strings</key>
		<string>Z Ž Ź Ż Ẓ</string>
	</dict>
	<key>Roman-Accent-a</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>a à á â ä æ ã å ā ǣ</string>
		<key>Strings</key>
		<string>a à á â ä æ ã å ā ǣ</string>
	</dict>
	<key>Roman-Accent-c</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>c ç ć č</string>
		<key>Strings</key>
		<string>c ç ć č</string>
	</dict>
	<key>Roman-Accent-d</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>d ḍ ḏ đ ḑ</string>
		<key>Strings</key>
		<string>d ḍ ḏ đ ḑ</string>
	</dict>
	<key>Roman-Accent-e</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>e è é ê ë ē ė ę</string>
		<key>Strings</key>
		<string>e è é ê ë ē ė ę</string>
	</dict>
	<key>Roman-Accent-g</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>g ġ</string>
		<key>Strings</key>
		<string>g ġ</string>
	</dict>
	<key>Roman-Accent-h</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>h ḥ ẖ ḫ</string>
		<key>Strings</key>
		<string>h ḥ ẖ ḫ</string>
	</dict>
	<key>Roman-Accent-i</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>i î ï í ī į ì</string>
		<key>Strings</key>
		<string>i î ï í ī į ì</string>
	</dict>
	<key>Roman-Accent-k</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>k ḵ</string>
		<key>Strings</key>
		<string>k ḵ</string>
	</dict>
	<key>Roman-Accent-l</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>l ł ḷ ḹ l̥ l̥̄ ḻ</string>
		<key>Strings</key>
		<string>l ł ḷ ḹ l̥ l̥̄ ḻ</string>
	</dict>
	<key>Roman-Accent-m</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>m ṃ m̊ m̐ m̆</string>
		<key>Strings</key>
		<string>m ṃ m̊ m̐ m̆</string>
	</dict>
	<key>Roman-Accent-n</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>n ñ ń ṅ ṇ ṉ n̆</string>
		<key>Strings</key>
		<string>n ñ ń ṅ ṇ ṉ n̆</string>
	</dict>
	<key>Roman-Accent-o</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>o ô ö ò ó œ ø ō õ</string>
		<key>Strings</key>
		<string>o ô ö ò ó œ ø ō õ</string>
	</dict>
	<key>Roman-Accent-r</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>r ṛ ṝ r̥ r̥̄ ṟ r̆</string>
		<key>Strings</key>
		<string>r ṛ ṝ r̥ r̥̄ ṟ r̆</string>
	</dict>
	<key>Roman-Accent-s</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>s ß ś š ṣ ş</string>
		<key>Strings</key>
		<string>s ß ś š ṣ ş</string>
	</dict>
	<key>Roman-Accent-t</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>t ṭ ṯ ţ</string>
		<key>Strings</key>
		<string>t ṭ ṯ ţ</string>
	</dict>
	<key>Roman-Accent-u</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>u û ü ù ú ū ŭ</string>
		<key>Strings</key>
		<string>u û ü ù ú ū ŭ</string>
	</dict>
	<key>Roman-Accent-y</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>y ÿ ẏ</string>
		<key>Strings</key>
		<string>y ÿ ẏ</string>
	</dict>
	<key>Roman-Accent-z</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>z ž ź ż ẓ</string>
		<key>Strings</key>
		<string>z ž ź ż ẓ</string>
	</dict>
	<key>UI-abc</key>
	<string>abc</string>
	<key>UI-ABC</key>
	<string>ABC</string>
	<key>UI-Bold</key>
	<string>bold</string>
	<key>UI-Cancel</key>
	<string>Cancel</string>
	<key>UI-ClearCaps</key>
	<string>CLEAR</string>
	<key>UI-ClearRecentInputs</key>
	<string>Clear Recent</string>
	<key>UI-Confirm</key>
	<string>confirm</string>
	<key>UI-Continue</key>
	<string>Continue</string>
	<key>UI-Copy</key>
	<string>copy</string>
	<key>UI-Cut</key>
	<string>cut</string>
	<key>UI-DeleteCaps</key>
	<string>DELETE</string>
	<key>UI-Done</key>
	<string>Done</string>
	<key>UI-EmergencyCall</key>
	<string>Emergency
Call</string>
	<key>UI-Go</key>
	<string>Go</string>
	<key>UI-Italic</key>
	<string>italic</string>
	<key>UI-Join</key>
	<string>Join</string>
	<key>UI-LanguageIndicator</key>
	<string>English</string>
	<key>UI-Next</key>
	<string>Next</string>
	<key>UI-Numbers</key>
	<string>123</string>
	<key>UI-NumbersSymbols</key>
	<string>.?123</string>
	<key>UI-Paste</key>
	<string>paste</string>
	<key>UI-Pause</key>
	<string>pause</string>
	<key>UI-Prediction</key>
	<string>Swipe down to close</string>
	<key>UI-Recents</key>
	<string>Recents</string>
	<key>UI-Redo</key>
	<string>redo</string>
	<key>UI-Return</key>
	<string>return</string>
	<key>UI-Route</key>
	<string>Route</string>
	<key>UI-Search</key>
	<string>Search</string>
	<key>UI-Select-First-Candidate</key>
	<string>next</string>
	<key>UI-Select-Next-Candidate</key>
	<string>next</string>
	<key>UI-Send</key>
	<string>Send</string>
	<key>UI-Space</key>
	<string>space</string>
	<key>UI-SpaceCaps</key>
	<string>SPACE</string>
	<key>UI-Underline</key>
	<string>underline</string>
	<key>UI-Undo</key>
	<string>undo</string>
	<key>UI-Wait</key>
	<string>wait</string>
</dict>
</plist>
